
/* Quadro de atividades*/

.reminder-markdown {
    background-color: #ffeb99; /* Fundo amarelo claro */
    padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #f0ad4e; /* Barra lateral laranja */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
}

/*Quadro de objetivos*/

.reminder-objetivos {
    background-color: #b4e7ae; /* Fundo  */
    padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #b4e7ae  /* Barra lateral */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
}

/* Quadro para ODR - tópico e código BNCC*/

.reminder-bncc {
    background-color: #D0F5A9; /* Fundo*/
    padding: 15px;             /* Espaçamento interno */
    border-left: 5px solid #00FF7F; /* Barra lateral  */
    border-radius: 5px;        /* Bordas arredondadas */
    margin-bottom: 20px;       /* Espaçamento inferior */
}

/* Plano de Fundo 
body {
  background: linear-gradient(-45deg, #a1c4fd, #c2e9fb, #d4fc79, #96e6a1);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
*/

/* Plano de Fundo pro Sidebar */
.sidebar-item {
  background-color:  #e6f8ed ;
  color: white;
  border-radius: 10px;
  padding: 0px;
}




